.ganttWrapper {
  width: 100%;
  margin-bottom: 20px;
}

.timelineContainer {
  overflow-x: auto;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.grid {
  display: flex;
  flex-direction: column;
  min-width: max-content;
}

.row {
  display: flex;
  color: #000000;
}

.cell, .headerCell {
  width: 40px;
  height: 40px;
  border: 1px solid #ddd;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
}

.headerCell {
  background-color: #f2f2f2;
  font-weight: bold;
}
